<!doctype html>
<html lang="en" ng-app="Blog">
<head>
    <meta charset="UTF-8">
    <title>RSS with Angular</title>
</head>
<body>
    <a href="https://github.com/sonnylazuardi/rssreader"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://github-camo.global.ssl.fastly.net/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div ng-controller="BlogCtrl">
        <label>URL:</label>
          <input type="text" ng-model="url" placeholder="Enter url here">
          <div>loading news from {{url}}...</div>
          <button ng-click="loadFeed()">Load</button>
          <button ng-click="test()">Testing</button>
        <hr>
        <h1>{{title}}</h1>
        <ul ng-repeat="feed in feeds">
            <li><strong>{{ feed.title }}</strong> <span ng-bind-html="feed.content"></span></li>
        </ul>
    </div>
    <script src="jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="angular-sanitize.min.js"></script>
    <script>
        angular.module('Blog', ['ngSanitize'])
        .controller('BlogCtrl', function($scope) {
            $scope.url = 'http://blog.sonnylab.com/feed';
            $scope.title = 'Sonny Blog';
            $scope.feeds = [];
            $scope.loadFeed = function() {
                $.ajax({
                    url: document.location.protocol + '//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=10&callback=?&q=' + encodeURIComponent($scope.url),
                    dataType: 'json',
                    success: function(response) {
                        var data = response.responseData.feed;
                        $scope.$apply(function(){
                            $scope.title = data.title;
                            $scope.feeds = data.entries;
                        });
                        console.log(data);
                    }
                });
            }
            $scope.test = function() {
                $scope.title = "Testing";
            }
        });
    </script>
</body>
</html>